
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    background-color: black;
    gap: 2rem;
    width: 100%;
    

}

.container > a{
    color: azure;
    text-decoration: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 7px;
    
}
.container > a:hover{
    background-color: #7aacb3 ;
    color:black;
    border-radius: 10px;
    font-weight: 600;
    
}
